<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông báo về Sự Vắng Mặt của Khách Hàng</title>
    <style>
        .Cusbody {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .heading {
            color: #333;
        }

        .content {
            margin-bottom: 15px;
        }

        .signature {
            margin-top: 20px;
        }
    </style>
</head>
<body class="Cusbody">
    <div class="Cuscontainer">
        <h2 class="heading">{Title}</h2>
        <p class="content">Kính gửi các đồng nghiệp,</p>
        <p class="content">Chúng ta đang mong đợi một ngày bận rộn và tràn đầy năng lượng tại chi nhánh của chúng ta vào {Day}, nhưng tiếc thay lại không có sự xuất hiện của bất kỳ khách hàng nào.</p>
        <p class="content">Chúng ta đã chuẩn bị mọi thứ để đón tiếp và phục vụ khách hàng một cách tốt nhất có thể, nhưng rõ ràng, có những ngày mà sự đón tiếp đó không được chia sẻ với bất kỳ ai. <br> Dù vậy, đừng nản lòng, vẫn còn nhiều cơ hội và thách thức khác đang chờ đợi chúng ta phía trước.</p>
        <p class="content">Chúng ta hãy tiếp tục giữ vững tinh thần tích cực và sẵn sàng đối mặt với mọi thử thách.</p>
        <p><strong>{Url}Xem chi tiết khách hàng cũ tại đây</a></strong></p>
        <p class="signature"><strong>Trân trọng,</strong><br>{ProjectName}</p>
    </div>
</body>
</html>
