<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chúc Mừng Sinh Nhật!</title>
    <style>
        .body {
            font-family: Arial, sans-serif;
        }

        .card {
            max-width: 600px;
            background-color: white;
        }

        .content {
            text-align: justify;
        }

        .heading {
            color: #333;
        }

        .paragraph {
            margin-bottom: 20px;
            line-height: 1.5;
        }
    </style>
</head>

<body class="body">
    <div class="card">
        <div class="content">
            <h1 class="heading">Chúc Mừng Sinh Nhật!</h1>
            <p class="paragraph">
                Chào {item1},
            </p>
            <p class="paragraph">
                Chúc mừng sinh nhật! Hôm nay là một ngày đặc biệt, một dịp để chúng ta cùng nhau ăn mừng và tận hưởng những
                khoảnh khắc đáng nhớ. Tôi muốn gửi đến bạn những lời chúc tốt đẹp nhất trong ngày đặc biệt này.
            </p>
            <p class="paragraph">
                Sinh nhật không chỉ là một ngày để kỷ niệm sự sống của bạn, mà còn là thời điểm để nhìn lại những thành tựu,
                những trải nghiệm và những mối quan hệ quý báu mà bạn đã xây dựng qua mỗi năm. Điều quan trọng nhất là bạn luôn
                được bao quanh bởi tình yêu và sự ủng hộ từ gia đình và bạn bè.
            </p>
            <p class="paragraph">
                Cảm ơn bạn đã đồng hành và gắn bó với chúng tôi trong thời gian qua. Chúc mừng sinh nhật! Hãy tận hưởng ngày hôm
                nay một cách đặc biệt và ghi nhớ những kỷ niệm đáng nhớ này nhé.
            </p>
            <p class="paragraph">
                Trân trọng,<br>
                {item2}
            </p>
        </div>
    </div>
</body>

</html>